@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.rbc-toolbar-label {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}

.rbc-header {
  padding: 4px !important;
}

.rbc-allday-cell {
  height: 0 !important;
}

.rbc-event {
  font-size: 14px !important;
}

.rbc-off-range-bg {
  background-color: oklch(96.7% 0.003 264.542) !important;
}

.rbc-today {
  background-color: oklch(93.2% 0.032 255.585) !important;
}

.rbc-show-more {
  font-size: 14px !important;
}

@media (max-width: 940px) {
  .rbc-toolbar {
    flex-direction: column !important;
    gap: 2px !important;
  }

  .rbc-header {
    font-size: 12px !important;
  }

  .rbc-event-content {
    font-size: 12px !important;
  }

  .rbc-event {
    font-size: 12px !important;
  }

  .rbc-show-more {
    font-size: 12px !important;
  }

  .rbc-time-slot {
    font-size: 12px !important;
  }

  .rbc-toolbar .rbc-btn-group > button {
    font-size: 12px !important;
  }
}

:root {
  --chart-created: oklch(85.2% 0.199 91.936);
  --chart-pending: oklch(76.9% 0.188 70.08);
  --chart-inProgress: oklch(62.3% 0.214 259.815);
  --chart-completed: oklch(72.3% 0.219 149.579);
  --chart-overdue: oklch(63.7% 0.237 25.331);

  --chart-low: oklch(70.7% 0.022 261.325);
  --chart-medium: oklch(85.2% 0.199 91.936);
  --chart-high: oklch(70.5% 0.213 47.604);
  --chart-urgent: oklch(63.7% 0.237 25.331);

  --chart-weekly: oklch(0.7137 0.1434 254.62);
  --chart-total: oklch(0.7137 0.1434 254.62);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0); /* light mode, icon đen */
}

.dark input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* dark mode, icon trắng */
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(0); /* light mode, icon đen */
}

.dark input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* dark mode, icon trắng */
}
